version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: library_api_development
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    volumes:
      - redis_data:/data

  web:
    build: .
    command: >
      bash -c "
        rm -f tmp/pids/server.pid &&
        rails db:prepare &&
        rails server -b 0.0.0.0
      "
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/library_api_development
      REDIS_URL: redis://redis:6379

  sidekiq:
    build: .
    command: bundle exec sidekiq
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/library_api_development
      REDIS_URL: redis://redis:6379

volumes:
  postgres_data:
  redis_data:
